.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.intro-container {
  text-align: center;
  
}

.background {
  padding: 350px;
  background-image: url("https://wallpaperaccess.com/full/133703.jpg") ;
  background-repeat: no-repeat;
  background-position: center
}

.style-cards {
  border: 1px solid firebrick;
}


